In [21]:
#summary statistics
import pandas as pd
import numpy as np

In [22]:
data = pd.read_csv('class_data/object_types.csv')

In [23]:
data.head()

   hours_slept  test_scores subject  sex initials  condition complete
0          6.0         0.80   sub01    0       RS          3     True
1          7.0         0.85   sub02    1       EE          3     True
2          6.5         0.80   sub03    1       DR          3     True
3          5.0         0.70   sub04    1       GM          4     True
4          7.0         0.90   sub05    0       PL          4     True

In [24]:
data.dtypes

hours_slept    float64
test_scores    float64
subject         object
sex              int64
initials        object
condition        int64
complete          bool
dtype: object

In [25]:
data['sex'] = data['sex'].astype('category')
data['subject'] = data['subject'].astype('category')
data['condition'] = data['condition'].astype('category')

In [26]:
data['condition'].cat.categories

Int64Index([3, 4], dtype='int64')

In [27]:
#basic summary stats
data['hours_slept'].describe()

count    20.000000
mean      6.485000
std       1.428755
min       4.000000
25%       5.375000
50%       6.600000
75%       7.625000
max       9.000000
Name: hours_slept, dtype: float64

In [28]:
#you can calculate these measures individually
#get the mean
data['hours_slept'].mean()

6.484999999999999

In [29]:
data['hours_slept'].median()

6.6

In [30]:
data['hours_slept'].std()

1.428755439276841

In [31]:
data['hours_slept'].min()

4.0

In [32]:
data['hours_slept'].max()

9.0

In [33]:
data['condition']

0     3
1     3
2     3
3     4
4     4
5     4
6     3
7     4
8     3
9     4
10    3
11    3
12    4
13    4
14    3
15    4
16    4
17    3
18    4
19    4
Name: condition, dtype: category
Categories (2, int64): [3, 4]

In [34]:
#let's change these to names the 3 and 4 represent years in school
data['condition'].cat.categories = ['junior','senior']
data['condition'].cat.categories

Index([u'junior', u'senior'], dtype='object')

In [35]:
data['condition']

0     junior
1     junior
2     junior
3     senior
4     senior
5     senior
6     junior
7     senior
8     junior
9     senior
10    junior
11    junior
12    senior
13    senior
14    junior
15    senior
16    senior
17    junior
18    senior
19    senior
Name: condition, dtype: category
Categories (2, object): [junior, senior]

In [38]:
data['condition'].table()

AttributeError: 'Series' object has no attribute 'table'

In [42]:
#best ways to examine categorical data
#frequency table
#you can also look at the frequencies split on groups
pd.crosstab(data['condition'],data['sex'])

sex        0  1
condition
junior     4  5
senior     6  5

In [43]:
#say we want to calculate the mean of hours_slept for juniors and seniors (condition 3 and 4) 
data.groupby?

In [45]:
#mean of hours_slept for juniors and seniors 
data.groupby('condition')['hours_slept'].mean()

condition
junior    5.966667
senior    6.909091
Name: hours_slept, dtype: float64