In [2]:
#summary statistics
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('class_data/object_types.csv')

In [4]:
data.head()

   hours_slept  test_scores subject  sex initials  condition complete
0          6.0         0.80   sub01    0       RS          3     True
1          7.0         0.85   sub02    1       EE          3     True
2          6.5         0.80   sub03    1       DR          3     True
3          5.0         0.70   sub04    1       GM          4     True
4          7.0         0.90   sub05    0       PL          4     True

In [5]:
data.dtypes

hours_slept    float64
test_scores    float64
subject         object
sex              int64
initials        object
condition        int64
complete          bool
dtype: object

In [6]:
data['sex'] = data['sex'].astype('category')
data['subject'] = data['subject'].astype('category')
data['condition'] = data['condition'].astype('category')

In [7]:
data['condition'].cat.categories

Int64Index([3, 4], dtype='int64')

In [8]:
#basic summary stats
data['hours_slept'].describe()

count    20.000000
mean      6.485000
std       1.428755
min       4.000000
25%       5.375000
50%       6.600000
75%       7.625000
max       9.000000
Name: hours_slept, dtype: float64

In [9]:
#you can calculate these measures individually
#get the mean
data['hours_slept'].mean()

6.484999999999999

In [10]:
data['hours_slept'].median()

6.6

In [11]:
data['hours_slept'].std()

1.428755439276841

In [12]:
data['hours_slept'].min()

4.0

In [13]:
data['hours_slept'].max()

9.0

In [14]:
data['condition']

0     3
1     3
2     3
3     4
4     4
5     4
6     3
7     4
8     3
9     4
10    3
11    3
12    4
13    4
14    3
15    4
16    4
17    3
18    4
19    4
Name: condition, dtype: category
Categories (2, int64): [3, 4]

In [15]:
#let's change these to names the 3 and 4 represent years in school
data['condition'].cat.categories = ['junior','senior']
data['condition'].cat.categories

Index([u'junior', u'senior'], dtype='object')

In [16]:
data['condition']

0     junior
1     junior
2     junior
3     senior
4     senior
5     senior
6     junior
7     senior
8     junior
9     senior
10    junior
11    junior
12    senior
13    senior
14    junior
15    senior
16    senior
17    junior
18    senior
19    senior
Name: condition, dtype: category
Categories (2, object): [junior, senior]

In [18]:
#best ways to examine categorical data
#frequency table
#you can also look at the frequencies split on groups
pd.crosstab(data['condition'],data['sex'])

sex        0  1
condition
junior     4  5
senior     6  5

In [19]:
#say we want to calculate the mean of hours_slept for juniors and seniors (condition 3 and 4) 
data.groupby?

In [20]:
#mean of hours_slept for juniors and seniors 
data.groupby('condition')['hours_slept'].mean()

condition
junior    5.966667
senior    6.909091
Name: hours_slept, dtype: float64

In [21]:
#standard deviation of hours_slept for juniors and seniors 
data.groupby('condition')['hours_slept'].std()

condition
junior    1.321930
senior    1.428604
Name: hours_slept, dtype: float64

In [25]:
#how do I get the median hours_slept for juniors and seniors? I want to call the output sleep_med 
sleep_med = pd.DataFrame(data.groupby('condition')['hours_slept'].median())
sleep_med

           hours_slept
condition
junior             6.0
senior             7.5

In [37]:
#since hours slept is now the median of hours_slept let's change the name
sleep_med.columns

Index([u'hours_slept_median'], dtype='object')

In [36]:
sleep_med = sleep_med.rename(columns = {'hours_slept':'hours_slept_median'})

In [38]:
sleep_med

           hours_slept_median
condition
junior                    6.0
senior                    7.5

In [39]:
#see how the output of aggregate is a data frame?
type(sleep_med)

pandas.core.frame.DataFrame

In [40]:
data.head()

   hours_slept  test_scores subject sex initials condition complete
0          6.0         0.80   sub01   0       RS    junior     True
1          7.0         0.85   sub02   1       EE    junior     True
2          6.5         0.80   sub03   1       DR    junior     True
3          5.0         0.70   sub04   1       GM    senior     True
4          7.0         0.90   sub05   0       PL    senior     True

In [48]:
data.groupby(['condition','sex'])['test_scores'].mean()

condition  sex
junior     0      0.757500
           1      0.778000
senior     0      0.838333
           1      0.864000
Name: test_scores, dtype: float64

In [55]:
def add1(num):
    return num + 1
add1(1)

2

In [72]:
## multiple functions
agg_functions = dict(Size='size', Sum='sum', Mean='mean', Std='std', Median = 'median')
data_info=data.groupby(['condition','sex'])['test_scores'].agg(agg_functions)
pd.DataFrame(data_info).reset_index()

  condition sex       Std   Sum      Mean  Median  Size
0    junior   0  0.180069  3.03  0.757500   0.805     4
1    junior   1  0.149064  3.89  0.778000   0.820     5
2    senior   0  0.087274  5.03  0.838333   0.870     6
3    senior   1  0.098387  4.32  0.864000   0.870     5

In [56]:
#Your turn!
#1. Import sleep_data.csv and call the data sleep (please look at the data)
sleep = pd.read_csv('sleep_data.csv')

In [57]:
sleep.head()

  subject  sex    class   age  test_score  hours_slept  test_difficulty
0   sub01    0     math  13.2        0.61          6.5                3
1   sub01    0  science  13.2        0.72          7.8                3
2   sub01    0  history  13.2        0.94          7.4                1
3   sub01    0  english  13.2        0.78          7.6                1
4   sub01    0      art  13.2        1.03          7.7                0

In [59]:
#2. create a new dataframe called math_class with only the rows in the class column that equal math and all of the columns
math_class = sleep[sleep['class']=='math']
math_class

   subject  sex class   age  test_score  hours_slept  test_difficulty
0    sub01    0  math  13.2        0.61          6.5                3
5    sub02    1  math  14.6        0.71          8.0                3
10   sub03    0  math  14.2        0.68          5.7                3
15   sub04    1  math  13.3        0.65          6.1                4
20   sub05    0  math  14.2        0.73          8.3                2
25   sub06    1  math  14.8        0.68          6.4                3
30   sub07    0  math  13.8        0.73          8.0                4
35   sub08    1  math  13.9        0.74          8.0                5
40   sub09    0  math  13.2        0.73          7.0                3
45   sub10    1  math  14.8        0.71          7.8                3
50   sub11    0  math  14.5        0.73          8.0                4
55   sub12    1  math  14.2        0.69          5.8                4
60   sub13    0  math  14.0        0.68          6.0                4
65   sub14    1  math  13.6        0.73          7.9                4
70   sub15    0  math  14.5        0.72          7.3                4
75   sub16    1  math  14.2        0.72          7.3                4
80   sub17    0  math  14.3        0.62          6.7                2
85   sub18    1  math  13.1        0.63          5.7                4
90   sub19    0  math  13.4        0.64          6.4                4
95   sub20    1  math  13.2        0.74          7.9                4

In [60]:
#2a What is the mean of test_difficulty column for only the math test?
math_class['test_difficulty'].mean()

3.55

In [63]:
#3. Back to the entire data set called sleep, what is the mean test score for each class?
sleep.groupby('class')['test_score'].mean()

class
art        0.9480
english    0.8320
history    0.8825
math       0.6935
science    0.7655
Name: test_score, dtype: float64

In [64]:
#4. What is the standard deviation of test scores for each class?
sleep.groupby('class')['test_score'].std()

class
art        0.041751
english    0.048515
history    0.055713
math       0.042708
science    0.040194
Name: test_score, dtype: float64

In [71]:
#create a dataframe that is easy to manipulate
pd.DataFrame(sleep.groupby('class')['test_score'].std()).reset_index()

     class  test_score
0      art    0.041751
1  english    0.048515
2  history    0.055713
3     math    0.042708
4  science    0.040194