In [1]:
#ifelse statements and loops
#What is a loop and why do you use it?
###use loops do repeat the same procedure multiple times
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('class_data/object_types.csv')

In [3]:
data.head()

   hours_slept  test_scores subject  sex initials  condition complete
0          6.0         0.80   sub01    0       RS          3     True
1          7.0         0.85   sub02    1       EE          3     True
2          6.5         0.80   sub03    1       DR          3     True
3          5.0         0.70   sub04    1       GM          4     True
4          7.0         0.90   sub05    0       PL          4     True

In [4]:
data.shape

(20, 7)

In [5]:
data.dtypes

hours_slept    float64
test_scores    float64
subject         object
sex              int64
initials        object
condition        int64
complete          bool
dtype: object

In [7]:
#change data types
data['subject'] = data['subject'].astype('category')
data['condition'] = data['condition'].astype('category')
data['sex'] = data['sex'].astype('category')

In [12]:
## structure for a loop
#this code is saying print each value for i of the sequence 1 to 20
for i in range(21):
    print i

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [11]:
1,30

(1, 30)

In [13]:
#a lot of people use i but you can use any variable name
for participant in range(5,11):
    print participant
#now this code is saying print the value for participant of the sequence 5 to 10

5
6
7
8
9
10

In [14]:
for i in data['test_scores']:
    print i

0.8
0.85
0.8
0.7
0.9
0.9
0.92
0.87
0.5
0.87
0.81
0.9
0.7
0.77
0.82
0.93
0.92
0.52
0.84
0.95

In [21]:
#say the professor decided to add 5% to everyone's test score 
curve = []
for row in data['test_scores']:
    curve.append(row + .05)

In [23]:
data['curve'] = curve
#let's look
data[['test_scores','curve']]

    test_scores  curve
0          0.80   0.85
1          0.85   0.90
2          0.80   0.85
3          0.70   0.75
4          0.90   0.95
5          0.90   0.95
6          0.92   0.97
7          0.87   0.92
8          0.50   0.55
9          0.87   0.92
10         0.81   0.86
11         0.90   0.95
12         0.70   0.75
13         0.77   0.82
14         0.82   0.87
15         0.93   0.98
16         0.92   0.97
17         0.52   0.57
18         0.84   0.89
19         0.95   1.00

In [27]:
#write a for loop for sequence 1:20 to create a new column in data called minutes_slept that takes hours_slept and multiplies it by 60

minutes_slept = []

for rows in data['hours_slept']:
    minutes_slept.append(rows * 60)
    
data['minutes_slept'] = minutes_slept
data[['hours_slept','minutes_slept']]

    hours_slept  minutes_slept
0           6.0          360.0
1           7.0          420.0
2           6.5          390.0
3           5.0          300.0
4           7.0          420.0
5           8.0          480.0
6           8.0          480.0
7           7.5          450.0
8           4.0          240.0
9           9.0          540.0
10          6.0          360.0
11          6.7          402.0
12          5.0          300.0
13          5.0          300.0
14          5.5          330.0
15          6.0          360.0
16          7.5          450.0
17          4.0          240.0
18          8.0          480.0
19          8.0          480.0

In [31]:
##removing columns
#axis = 0 rows
#axis = 1 columns
data = data.drop('minutes_slept',1)

In [33]:
#dropping first column
data.drop(0,0)

    hours_slept  test_scores subject sex initials condition complete  curve
1           7.0         0.85   sub02   1       EE         3     True   0.90
2           6.5         0.80   sub03   1       DR         3     True   0.85
3           5.0         0.70   sub04   1       GM         4     True   0.75
4           7.0         0.90   sub05   0       PL         4     True   0.95
5           8.0         0.90   sub06   0       BB         4     True   0.95
6           8.0         0.92   sub07   0       EV         3    False   0.97
7           7.5         0.87   sub08   1       TL         4     True   0.92
8           4.0         0.50   sub09   0       JW         3    False   0.55
9           9.0         0.87   sub10   1       WB         4     True   0.92
10          6.0         0.81   sub11   0       TR         3     True   0.86
11          6.7         0.90   sub12   1       AS         3     True   0.95
12          5.0         0.70   sub13   0       SN         4     True   0.75
13          5.0         0.77   sub14   0       TG         4     True   0.82
14          5.5         0.82   sub15   1       VB         3     True   0.87
15          6.0         0.93   sub16   1       RS         4     True   0.98
16          7.5         0.92   sub17   0       TL         4     True   0.97
17          4.0         0.52   sub18   1       DS         3     True   0.57
18          8.0         0.84   sub19   0       VT         4    False   0.89
19          8.0         0.95   sub20   1       EW         4     True   1.00

In [36]:
data['sleep_quality'] = 'test'

In [39]:
data.loc[data['hours_slept'] < 6,'sleep_quality'] = 'poor_sleeper'
data.loc[data['hours_slept'] >= 6,'sleep_quality'] = 'good_sleeper'

In [41]:
data[['hours_slept','sleep_quality']]
data['sleep_quality'] = data['sleep_quality'].astype('category')

In [42]:
data['sleep_quality'].cat.categories

Index([u'good_sleeper', u'poor_sleeper'], dtype='object')

In [43]:
data.groupby('sleep_quality').count()

,hours_slept,test_scores,subject,sex,initials,condition,complete,curve
sleep_quality,,,,,,,,
good_sleeper,14,14,14,14,14,14,14,14
poor_sleeper,6,6,6,6,6,6,6,6

In [45]:
letter_grades = []
for i in data['test_scores']:
    if i >= .9:
        letter_grades.append('A')
    elif i >= .8:
        letter_grades.append('B')
    elif i >= .7:
        letter_grades.append('C')
    elif i >= .6:
        letter_grades.append('D')
    else:
        letter_grades.append('F')
letter_grades
data['letter_grades'] = letter_grades

In [46]:
data[['test_scores','letter_grades']]

    test_scores letter_grades
0          0.80             B
1          0.85             B
2          0.80             B
3          0.70             C
4          0.90             A
5          0.90             A
6          0.92             A
7          0.87             B
8          0.50             F
9          0.87             B
10         0.81             B
11         0.90             A
12         0.70             C
13         0.77             C
14         0.82             B
15         0.93             A
16         0.92             A
17         0.52             F
18         0.84             B
19         0.95             A