In [131]:
## Lecture 1 code - Introduction

# the hash is used as a comment.  You can use it in the beginning of a line or after a command

In [132]:
# How to run a cell in your jupyter:
## control + return
## shift + return (runs current cell and moves to next cell)

In [133]:
# define variables
a = 3
b = 3

In [134]:
# print results
a
b

3

In [135]:
# run the line below
# a = 4
a

3

In [136]:
#because there is a hash in front of this assignment it will not change a to equal 4
#if you would like to take additional notes please use the hash

In [137]:
#can use python as a calculator
a + b

6

In [138]:
#create a list
l = [3,5,6,1,5,1,2,8,2]
l

[3, 5, 6, 1, 5, 1, 2, 8, 2]

In [139]:
#subsetting lists 
#python starts at 0
l[0]

3

In [140]:
l[2] #prints out 3rd item in list

6

In [141]:
#subset items 1 to 3
l[0:3]

[3, 5, 6]

In [142]:
l[-1] ## putting a negative sign prints things from the other end

2

In [143]:
#notice how the vector still includes all the items
l

[3, 5, 6, 1, 5, 1, 2, 8, 2]

In [144]:
#if you want to create a list with the printed object you need to assign the function to a variable
new_l=l[-1]
new_l

2

In [145]:
#Your turn! 
#You have a list of how many hours a group of 20 student slept last night.
hours_slept = [6,7,6.5,5,7,8,8,7.5,4,9,6,6.7,5,5,5.5,6,7.5,4,8,8]
hours_slept

[6, 7, 6.5, 5, 7, 8, 8, 7.5, 4, 9, 6, 6.7, 5, 5, 5.5, 6, 7.5, 4, 8, 8]

In [146]:
#Print out how many hours the 8th student slept last night
hours_slept[7]

7.5

In [147]:
#Assign the first 10 students to a new vector called hours_slept10
hours_slept[:10]

[6, 7, 6.5, 5, 7, 8, 8, 7.5, 4, 9]

In [148]:
#########create a data frame
import pandas as pd
import numpy as np

In [149]:
#say we collected hours of sleep AND test scores
test_scores=[.80,.85,.80,.70,.90,.90,.92,.87,.60,.87,.81,.90,.70,.77,.82,.93,.92,.74,.84,.95]
test_scores
data = pd.DataFrame({'hours_slept': hours_slept,
            'test_scores': test_scores})
data

    hours_slept  test_scores
0           6.0         0.80
1           7.0         0.85
2           6.5         0.80
3           5.0         0.70
4           7.0         0.90
5           8.0         0.90
6           8.0         0.92
7           7.5         0.87
8           4.0         0.60
9           9.0         0.87
10          6.0         0.81
11          6.7         0.90
12          5.0         0.70
13          5.0         0.77
14          5.5         0.82
15          6.0         0.93
16          7.5         0.92
17          4.0         0.74
18          8.0         0.84
19          8.0         0.95

In [150]:
#rows and columns
data.shape

(20, 2)

In [151]:
#Can you print out just the number of rows? (same as subsetting numbers in a list)
data.shape[0]

20

In [152]:
#characteristics/structure of data
data.dtypes

hours_slept    float64
test_scores    float64
dtype: object

In [153]:
#two ways to subset a column of data
data.hours_slept
data['hours_slept']

0     6.0
1     7.0
2     6.5
3     5.0
4     7.0
5     8.0
6     8.0
7     7.5
8     4.0
9     9.0
10    6.0
11    6.7
12    5.0
13    5.0
14    5.5
15    6.0
16    7.5
17    4.0
18    8.0
19    8.0
Name: hours_slept, dtype: float64

In [154]:
#print hours_slept from the 9th student 

data['hours_slept'][8]

4.0

In [156]:
data

    hours_slept  test_scores
0           6.0         0.80
1           7.0         0.85
2           6.5         0.80
3           5.0         0.70
4           7.0         0.90
5           8.0         0.90
6           8.0         0.92
7           7.5         0.87
8           4.0         0.60
9           9.0         0.87
10          6.0         0.81
11          6.7         0.90
12          5.0         0.70
13          5.0         0.77
14          5.5         0.82
15          6.0         0.93
16          7.5         0.92
17          4.0         0.74
18          8.0         0.84
19          8.0         0.95

In [165]:
#subsetting rows and columns from a data frame
# data.iloc[rows,columns]
data.iloc[0,1]

0.80000000000000004

In [164]:
data.iat[0,1]

0.80000000000000004

In [167]:
#first row
data.iloc[0]

hours_slept    6.0
test_scores    0.8
Name: 0, dtype: float64

In [168]:
#first column
data.iloc[:,0]

0     6.0
1     7.0
2     6.5
3     5.0
4     7.0
5     8.0
6     8.0
7     7.5
8     4.0
9     9.0
10    6.0
11    6.7
12    5.0
13    5.0
14    5.5
15    6.0
16    7.5
17    4.0
18    8.0
19    8.0
Name: hours_slept, dtype: float64

In [170]:
## LOGICAL ARGUMENTS
#now we want to subset the data by a logical argument
#here is an example where a = 5
a=5
a

5

In [172]:
##when we use 2 equal signs we are asking a logical question (boolean expression)
a==5

True

In [173]:
a==6

False

In [174]:
# != means does not equal
a!=5

False

In [176]:
#can also use these
print a<4
print a>4
print a>=5
print a<=10

False
True
True
True

In [178]:
#back to our data frame
#print the all the columns for the students who slept 5 hours
data[data.hours_slept==5]

    hours_slept  test_scores
3           5.0         0.70
12          5.0         0.70
13          5.0         0.77

In [185]:
#print only the test scores for students who slept 5 hours
data.loc[data.hours_slept < 5, ['test_scores']]

    test_scores
8          0.60
17         0.74

In [191]:
#print all columns for students who slept less than 5 hours AND got better than or equal to .80 test score
data.loc[(data['hours_slept'] < 7) & (data['test_scores'] >= .8)]

    hours_slept  test_scores
0           6.0         0.80
2           6.5         0.80
10          6.0         0.81
11          6.7         0.90
14          5.5         0.82
15          6.0         0.93

In [194]:
#print all columns for students who slept less than 7 hours OR got better than or equal to .80 test score
data.loc[(data['hours_slept']< 7 ) | (data['test_scores']>=.8)]

    hours_slept  test_scores
0           6.0         0.80
1           7.0         0.85
2           6.5         0.80
3           5.0         0.70
4           7.0         0.90
5           8.0         0.90
6           8.0         0.92
7           7.5         0.87
8           4.0         0.60
9           9.0         0.87
10          6.0         0.81
11          6.7         0.90
12          5.0         0.70
13          5.0         0.77
14          5.5         0.82
15          6.0         0.93
16          7.5         0.92
17          4.0         0.74
18          8.0         0.84
19          8.0         0.95

In [195]:
##FLEXIBILITY OF DATA FRAMES

#say you want to create a minutes of sleep column
minutes_slept=data.hours_slept*60
minutes_slept

0     360.0
1     420.0
2     390.0
3     300.0
4     420.0
5     480.0
6     480.0
7     450.0
8     240.0
9     540.0
10    360.0
11    402.0
12    300.0
13    300.0
14    330.0
15    360.0
16    450.0
17    240.0
18    480.0
19    480.0
Name: hours_slept, dtype: float64

In [198]:
#no minutes_slept column in data?
data

    hours_slept  test_scores
0           6.0         0.80
1           7.0         0.85
2           6.5         0.80
3           5.0         0.70
4           7.0         0.90
5           8.0         0.90
6           8.0         0.92
7           7.5         0.87
8           4.0         0.60
9           9.0         0.87
10          6.0         0.81
11          6.7         0.90
12          5.0         0.70
13          5.0         0.77
14          5.5         0.82
15          6.0         0.93
16          7.5         0.92
17          4.0         0.74
18          8.0         0.84
19          8.0         0.95

In [199]:
#you need to put a data['minutes_slept'] in order to put it in the data frame
data['minutes_slept']=data.hours_slept*60
data

    hours_slept  test_scores  minutes_slept
0           6.0         0.80          360.0
1           7.0         0.85          420.0
2           6.5         0.80          390.0
3           5.0         0.70          300.0
4           7.0         0.90          420.0
5           8.0         0.90          480.0
6           8.0         0.92          480.0
7           7.5         0.87          450.0
8           4.0         0.60          240.0
9           9.0         0.87          540.0
10          6.0         0.81          360.0
11          6.7         0.90          402.0
12          5.0         0.70          300.0
13          5.0         0.77          300.0
14          5.5         0.82          330.0
15          6.0         0.93          360.0
16          7.5         0.92          450.0
17          4.0         0.74          240.0
18          8.0         0.84          480.0
19          8.0         0.95          480.0

In [202]:
#Can you create a new column called blank where you the data in the rows match the row numbers?
data['blank'] = range(20)

In [204]:
#say for some reason I want to a new column of the blank column minus the test scores column called subtraction 
data['subtraction'] = data['blank'] - data['test_scores']
data

    hours_slept  test_scores  minutes_slept  blank  subtraction
0           6.0         0.80          360.0      0        -0.80
1           7.0         0.85          420.0      1         0.15
2           6.5         0.80          390.0      2         1.20
3           5.0         0.70          300.0      3         2.30
4           7.0         0.90          420.0      4         3.10
5           8.0         0.90          480.0      5         4.10
6           8.0         0.92          480.0      6         5.08
7           7.5         0.87          450.0      7         6.13
8           4.0         0.60          240.0      8         7.40
9           9.0         0.87          540.0      9         8.13
10          6.0         0.81          360.0     10         9.19
11          6.7         0.90          402.0     11        10.10
12          5.0         0.70          300.0     12        11.30
13          5.0         0.77          300.0     13        12.23
14          5.5         0.82          330.0     14        13.18
15          6.0         0.93          360.0     15        14.07
16          7.5         0.92          450.0     16        15.08
17          4.0         0.74          240.0     17        16.26
18          8.0         0.84          480.0     18        17.16
19          8.0         0.95          480.0     19        18.05

In [210]:
whos #list all objects in workspace

No variables match your requested type.

In [209]:
reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y