In [35]:
##libraries used
import pandas as pd
import numpy as np

In [36]:
pd.read_csv?

In [37]:
#Important questions to ask yourself when importing data
## where did you save your data? (the path)
## is there a header? (do you have column names in the file?)
## how are the data separated? (commas, spaces, tabs?)
!head -n 20 class_data/csv_data.csv

8,0.95

In [38]:
pd.read_csv('class_data/csv_data.csv')

    hours_slept  test_scores
0           6.0         0.80
1           7.0         0.85
2           6.5         0.80
3           5.0         0.70
4           7.0         0.90
5           8.0         0.90
6           8.0         0.92
7           7.5         0.87
8           4.0         0.60
9           9.0         0.87
10          6.0         0.81
11          6.7         0.90
12          5.0         0.70
13          5.0         0.77
14          5.5         0.82
15          6.0         0.93
16          7.5         0.92
17          4.0         0.74
18          8.0         0.84
19          8.0         0.95

In [39]:
data = pd.read_csv('class_data/csv_data.csv')
#CHECK THE DATA FRAME
data.head()

   hours_slept  test_scores
0          6.0         0.80
1          7.0         0.85
2          6.5         0.80
3          5.0         0.70
4          7.0         0.90

In [40]:
data.dtypes

hours_slept    float64
test_scores    float64
dtype: object

In [41]:
data.shape

(20, 2)

In [42]:
data2_wrong1 = pd.read_csv('class_data/comma_delimited_data.txt',header = None)
data2_wrong1

              0            1
0   hours_slept  test_scores
1             6          0.8
2             7         0.85
3           6.5          0.8
4             5          0.7
5             7          0.9
6             8          0.9
7             8         0.92
8           7.5         0.87
9             4          0.6
10            9         0.87
11            6         0.81
12          6.7          0.9
13            5          0.7
14            5         0.77
15          5.5         0.82
16            6         0.93
17          7.5         0.92
18            4         0.74
19            8         0.84
20            8         0.95

In [43]:
#quiz data
data3 = pd.read_csv('class_data/quiz_data.txt', delimiter = '\t', header = None)
#if you want to add column names
data3

      0     1
0   6.0  0.80
1   7.0  0.85
2   6.5  0.80
3   5.0  0.70
4   7.0  0.90
5   8.0  0.90
6   8.0  0.92
7   7.5  0.87
8   4.0  0.60
9   9.0  0.87
10  6.0  0.81
11  6.7  0.90
12  5.0  0.70
13  5.0  0.77
14  5.5  0.82
15  6.0  0.93
16  7.5  0.92
17  4.0  0.74
18  8.0  0.84
19  8.0  0.95

In [44]:
data3.columns

Int64Index([0, 1], dtype='int64')

In [45]:
data3.columns = ['hours_slept','test_scores']
data3

    hours_slept  test_scores
0           6.0         0.80
1           7.0         0.85
2           6.5         0.80
3           5.0         0.70
4           7.0         0.90
5           8.0         0.90
6           8.0         0.92
7           7.5         0.87
8           4.0         0.60
9           9.0         0.87
10          6.0         0.81
11          6.7         0.90
12          5.0         0.70
13          5.0         0.77
14          5.5         0.82
15          6.0         0.93
16          7.5         0.92
17          4.0         0.74
18          8.0         0.84
19          8.0         0.95

In [46]:
#import object_types.csv and call it all
all = pd.read_csv('class_data/object_types.csv')

In [47]:
all.head()

   hours_slept  test_scores subject  sex initials  condition complete
0          6.0         0.80   sub01    0       RS          3     True
1          7.0         0.85   sub02    1       EE          3     True
2          6.5         0.80   sub03    1       DR          3     True
3          5.0         0.70   sub04    1       GM          4     True
4          7.0         0.90   sub05    0       PL          4     True

In [48]:
all.shape

(20, 7)

In [49]:
all.dtypes

hours_slept    float64
test_scores    float64
subject         object
sex              int64
initials        object
condition        int64
complete          bool
dtype: object

In [50]:
#subject column
#what type of format do we want
#category
all['subject'] = all['subject'].astype('category')

In [51]:
#sex column (male = 0, female = 1)
#what type of format do we want?
#it is an integer which does not make sense
all['sex'] = all['sex'].astype('category')

In [57]:
all['sex'].describe()

count     20
unique     2
top        1
freq      10
Name: sex, dtype: int64

In [64]:
#list categories
all['subject'].cat.categories

Index([u'sub01', u'sub02', u'sub03', u'sub04', u'sub05', u'sub06', u'sub07',
       u'sub08', u'sub09', u'sub10', u'sub11', u'sub12', u'sub13', u'sub14',
       u'sub15', u'sub16', u'sub17', u'sub18', u'sub19', u'sub20'],
      dtype='object')

In [65]:
#length of categories
len(all['subject'].cat.categories)

20

In [67]:
all['initials'] = all['initials'].astype('category')

In [68]:
all['initials'].cat.categories

Index([u'AS', u'BB', u'DR', u'DS', u'EE', u'EV', u'EW', u'GM', u'JW', u'PL',
       u'RS', u'SN', u'TG', u'TL', u'TR', u'VB', u'VT', u'WB'],
      dtype='object')

In [69]:
len(all['initials'].cat.categories)

18